html, body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item img {
  width: 150px;
  height: 150px;
}

.item ul{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 20px;
}